.app {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    .rows {
      display: flex;
    }
    .btn-mine {
      margin: 1px;
      width: 30px;
      height: 30px;
      &:hover {
        background-color: rgb(0, 0, 0, 0.3);
      }
      &.active-mine {
        color: red;
        background-color: rgba(255, 0, 0, 0.5);
        border: 1px solid rgba(156, 163, 175, 0.1);
      }
    }
    .unrevealed-mine {
      background-color: rgba(107, 114, 128, 0.1);
    }
  }
}
