.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background-color: rgba(18, 18, 18, 1);
  .container {
    display: flex;
    flex-direction: column;
    .rows {
      display: flex;
    }
    .btn-mine {
      margin: 1px;
      width: 30px;
      height: 30px;
      border-style: none;
      background-color: transparent;
      &:hover {
        background-color: rgba(107, 114, 128, 0.2);
      }
      &.active-mine {
        color: red;
        background-color: rgba(255, 0, 0, 0.5);
      }
    }
    .unrevealed-mine {
      background-color: rgba(107, 114, 128, 0.1);
    }
  }
}
